@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@3500&display=swap');

:root {
  --primary--color: #4169E1;
}
* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
